.comparison_container {
  overflow: hidden;
  .compare_btn {
    margin-top: 10px;
    // background-color: var(--color-white);

    .btn_list {
      button {
        color: var(--color-tab);
        font-size: 15px;
        background: transparent;
        padding: 10px;
        cursor: pointer;
      }
      .active {
        background-color: var(--color-link-hover);
        color: var(--color-white);
        width: 140px;
        border-radius: 8px;
        display: flex;
      }
    }
  }
  .product_list {
    .product_card {
      display: flex !important;
      justify-content: space-between;
      gap: 20px;
      .card_content {
        border: none;
        text-align: center;
        min-width: 250px;
        .remove {
          z-index: 0 !important;
          position: relative;
          height: 20px;
        }
        .product-image {
          .img {
            .demand-image-list,
            .image-list {
              display: none;
            }
          }
        }

        .price_discount {
          text-align: center;
          flex-direction: column;
          margin: 5px 0px;
          .a_flex {
            flex-direction: column;
          }
          .price {
            color: var(--color-black);
            font-weight: 800;
          }
          .discounted {
            font-size: 12px;
          }
        }
        .ratings {
          text-align: center;
          .num_rating {
            margin-right: 4px;
          }
        }
        .lower_bottom {
          .add_to_cart_btn {
            position: relative;
            right: 0;
            float: none;
            border: none;
            border-radius: none;
            &:hover {
              border: none;
              background-color: transparent;
            }
            .btn {
              background-color: var(--color-primary);
              color: var(--color-white);
              width: auto;
              height: auto;
              padding: 8px 15px;
              border-radius: 20px;
              cursor: pointer;
              .icon {
                font-size: 20px;
                margin-right: 6px;
              }
            }
          }
        }
      }
      /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
      @media screen and (max-width: 450px) {
        .card_content {
          min-width: 220px;
          .remove {
            margin-bottom: 5px;
          }
        }
        gap: 15px;
      }
      /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
      @media screen and (max-width: 375px) {
        .card_content {
          min-width: 200px;
        }
        gap: 5px;
      }
      /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
      @media screen and (max-width: 360px) {
        position: relative;
        right: 10px;
      }
    }
  }

  .compare_sort {
    background-color: var(--color-light-light-gray);
    width: 180px;
    position: sticky;
    left: 0;
    z-index: 1;
    white-space: nowrap;
    span {
      width: auto;
      .icon {
        font-size: 14px;
        background-color: var(--color-light-gray);
        color: var(--color-white);
        border-radius: 50%;
        margin-left: 5px;
        display: none;
        cursor: pointer;
        &:hover {
          transition: var(--transition);
          background-color: var(--color-blue);
        }
      }
    }
    &:hover {
      .icon {
        display: flex;
      }
    }
    /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
    @media screen and (max-width: 745px) {
      span {
        .icon {
          display: flex;
        }
      }
    }
    /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
    @media screen and (max-width: 400px) {
      width: 150px;
    }
  }
  .compare_btn_list {
    display: flex;
    flex-direction: row;
    .compare_row {
      display: flex;
      flex-direction: row;
    }
  }
  .left_btn {
    background-color: var(--color-white);
    height: 65vh;
    z-index: 20px !important;
    min-width: 180px;
    /*======= MEDIA QUERIES (MEDIUM DEVICES) =======*/
    @media screen and (max-width: 1200px) {
      height: 75vh;
    }
    /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
    @media screen and (max-width: 450px) {
      height: 65vh;
    }
    /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
    @media screen and (max-width: 400px) {
      min-width: 150px;
    }
  }
  .table {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-color: var(--color-gray);
    width: 100%;
    table-layout: fixed;
    .compare_feature_row {
      font-size: 14px;
      &:hover {
        background-color: var(--color-light-light-gray);
      }

      .compare_feature_item {
        padding: 8px 10px;
        border: 1px solid var(--color-border);
        vertical-align: middle;
        text-align: left;
      }
      .feature_item_size {
        padding: 0 10px;
        overflow: hidden;
        width: 265px;
        white-space: nowrap;
        font-size: 13px !important;
        z-index: 0;
        /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
        @media screen and (max-width: 450px) {
          width: 230px;
        }
        /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
        @media screen and (max-width: 400px) {
        }
        /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
        @media screen and (max-width: 375px) {
          width: 200px;
        }
        /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
        // @media screen and (max-width: 360px) {
        //   width: 180px;
        // }
      }
    }
  }
}
