.bottom_nav {
  display: none;

  .menu_icon {
    font-size: 24px !important;
  }
  .MuiBottomNavigationAction-iconOnly {
    color: var(--color-primary) !important;
  }
  .MuiBottomNavigationAction-label {
    color: var(--color-gray);
  }

  @media screen and (max-width: 745px) {
    display: block;
  }
  /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
  @media screen and (max-width: 360px) {
    .menus_contact {
      display: none;
    }
  }
}
