.announce_box {
  .bottom_btn {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    button {
      position: relative;
      right: 20px;
      bottom: 20px;
      padding: 10px;
      border-radius: 8px;
      color: var(--color-white);
      cursor: pointer;
      background-color: var(--color-light-green);
      .icon {
        font-size: 17px;
        margin-right: 3px;
      }
    }
  }
}
