.store {
  .store_banner {
    .platform {
      position: relative;

      .video_platform {
        height: 315px;
        width: 100%;
        .video {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
    .container {
      .content {
        width: 500px;
        position: absolute;
        top: 150px;
        color: var(--color-white);
        background-color: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        padding: 20px;
        border-radius: 20px;
        h1 {
          span {
            background-color: var(--color-tab);
            padding: 0px 5px;
            margin-left: 5px;
            font-size: 16px;
            color: var(--color-black);
            font-weight: 300;
            border-radius: 5px;
          }
        }
        h3 {
          font-weight: 500;
          color: var(--color-light-light-gray);
          font-size: 17px;
        }
        /*======= MEDIA QUERIES (MEDIUM DEVICES) =======*/
        @media screen and (max-width: 900px) {
          width: 350px;
          h1 {
            font-size: 20px;
          }
          h3 {
            font-size: 14px;
            font-weight: 300;
          }
        }
        /*======= MEDIA QUERIES (MEDIUM DEVICES) =======*/
        @media screen and (max-width: 800px) {
          background-color: transparent;
          backdrop-filter: blur(0px);
          top: 300px;
          width: auto;
          padding: 0;
          h1 {
            font-weight: 800;
            font-size: 25px;
          }
          h1:nth-child(2) {
            font-size: 19px;
            font-weight: 300;
          }
          h3 {
            display: none;
          }
        }
        // /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
        // @media screen and (max-width: 540px) {
        //   min-width: 245px;
        // }
      }
    }
  }
  .category_selected {
    margin-top: 20px;
    h2 {
      font-size: 27px;
      margin-bottom: 10px;
    }
  }
  .side_filter {
    width: 260px;
    margin-top: 20px;
    .content {
      .title {
        width: 100%;
        padding: 8px 15px;
        border-bottom: 1px solid var(--color-filter);
        margin-bottom: 0;
        small {
          width: 100%;
          color: var(--color-black);
        }
      }
      .category_header {
        background-color: var(--color-bg);
        border-radius: 6px;
        font-size: 15px;
        font-weight: 300;
        margin-bottom: 10px;
        padding-bottom: 10px;

        .main_category {
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          align-items: center;
          line-height: 11px;
          padding: 14px 15px;
          font-weight: 600;
          font-size: 13px;
          margin-top: 0;
          &:hover {
            background-color: var(--color-light);
          }
          .icon {
            font-size: 9px;
            color: var(--color-tab);
          }
        }

        .main_category.active {
          background-color: var(--color-light);
        }

        .sub_category {
          list-style: none;

          display: none;
          font-size: 13px;
          li {
            padding: 9px 15px;
            cursor: pointer;
            span {
              position: relative;
              left: 20px;
            }
            &:hover {
              background-color: var(--color-light);
            }
          }
        }

        .main_category.active + .sub_category {
          display: block;
        }
      }
      .product_filter {
        background-color: var(--color-bg);
        border-radius: 6px;
        font-size: 15px;
        font-weight: 300;
        margin-bottom: 10px;
        padding-bottom: 10px;
        margin-top: 20px;
        .filter_list {
          padding: 10px 15px;
          border-bottom: 1px solid var(--color-filter);
          &:last-child {
            border-bottom: none;
          }
          .filter_header {
            font-weight: 600;
            font-size: 13px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            padding-bottom: 8px;
            .remove_icon {
              color: var(--color-light-gray);
            }
          }
          .color_check {
            flex-wrap: wrap;
          }
          .search_box {
            width: 100%;
            position: relative;
            right: 5px;

            input {
              width: 100%;
              padding: 7px 10px;
              border-radius: 8px;
              margin-bottom: 10px;
              border: 2px solid var(--color-filter);
            }
          }
          .ant-checkbox-checked {
            .ant-checkbox-inner {
              background-color: var(--color-primary);
              border-color: var(--color-primary);
              &:hover {
                border-color: var(--color-primary);
              }
            }
          }
          .ant-checkbox-inner,
          .ant-checkbox-input {
            transform: scale(1.5);
          }
          .lower_list {
            padding: 0px 5px;
          }
        }
        .btn {
          padding: 10px 15px;
          button {
            padding: 8px 10px;
            border-radius: 20px;
            background-color: var(--color-white);
            cursor: pointer;
          }
        }
      }
    }
  }
}
