.product-details-page {
  .product_control_btn {
    .next {
      position: relative;
      top: 5px;
    }
    .prev {
      position: relative;
      bottom: 10px;
    }
    button {
      cursor: pointer;
      width: 60px;
      height: 20px;
      border-radius: 4px;
      position: relative;
      bottom: 10px;
      transition: var(--transition);
      .icon {
        font-size: 16px;
      }
      &:hover {
        background-color: var(--color-light-light-gray);
        .icon {
          color: var(--color-tab);
        }
      }
    }
    /*======= MEDIA QUERIES (MEDIUM DEVICES) =======*/
    @media screen and (max-width: 1024px) {
      .next,
      .prev {
        position: absolute;
        top: 5%;
        width: 20px;
        height: 60px;
        transform: 0.5s;
        border-radius: 4px;
        z-index: 5;
      }

      .prev {
        left: -15px;
        .icon {
          transform: rotate(-90deg);
        }
      }
      .next {
        right: -15px;
        .icon {
          transform: rotate(-90deg);
        }
      }
      .icon {
        font-size: 20px;
      }
    }
    /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
    @media screen and (max-width: 900px) {
      .next,
      .prev {
        width: 16px;
        height: 40px;
      }
      .prev {
        left: -17px;
      }
    }
  }

  // ======== //
  .details {
    a {
      color: var(--color-tab);
      text-decoration: underline;
      text-underline-offset: 1.3px;
      text-decoration-style: dotted;
      text-decoration-thickness: 1px;
      text-decoration-color: var(--color-tab);
      transition: var(--transition);
      font-size: 13px;
      &:hover {
        color: var(--color-link-hover);
      }
    }
    .link {
      color: var(--color-tab);
      transition: var(--transition);
      font-size: 13px;
      cursor: pointer;
      &:hover {
        color: var(--color-link-hover);
      }
    }
    margin-top: 20px;
    .content {
      display: grid;
      grid-template-columns: 55% 45%;
      gap: 20px;
      .img_slides {
        position: relative;
        .image {
          position: relative;
          margin-bottom: 30px;
          .top_info {
            position: absolute;
            top: 0;
            z-index: 10;
            left: 12%;
            .popular {
              background-color: #b05cf5;
              padding: 3px 8px;
              font-size: 14px;
              color: var(--color-white);
              border-radius: 15px;
            }
          }
          .product_gallery_container {
            width: 100%;
            flex-direction: column;
            position: relative;

            .img_large {
              .product_main_image_slider {
                width: 80%;
              }
            }
            .horizontal_img {
              position: absolute;
              top: 0;
              .img_small {
                height: 325px;
                width: 75px;
                overflow: hidden;
                position: relative;
                padding: 20px 0px;
                .swiper-button-next,
                .swiper-button-prev {
                  background-color: var(--color-light-gray);
                  color: var(--color-gray);
                  border-radius: 4px;
                  width: 20px;
                  height: 60px;
                  transform: rotate(90deg);
                  // height: 60px;
                  font-size: 12px !important;
                  z-index: 10;
                  position: absolute;
                }
                .swiper-button-next {
                  margin: 0;
                  margin-top: 123px;
                  right: 30px;
                }
                .swiper-button-prev {
                  top: -30px;
                  left: 20px;
                }

                .product_main_image_thumbs {
                  height: 100%;
                  overflow: visible !important;
                  .swiper-slide {
                    width: 60px;
                    padding: 5px;
                    cursor: pointer;
                    outline: none;
                    overflow: visible !important;
                    &-thumb-active {
                      border: 1px solid var(--color-border);
                    }
                    .img {
                      img {
                        width: 50px;
                      }
                    }
                  }
                }
              }
            }
          }
          .specifications {
            margin-top: 10px;
            .a_flex {
              gap: 10px;
              .img {
                border-radius: 15px;
                width: 60px;
              }
            }
          }
        }
      }
      .product_details {
        width: 100%;
        padding-right: 10px;
        .rating_code {
          flex-wrap: wrap !important;
          .rating {
            .reviews {
              font-size: 13px;
              color: var(--color-tab);
              a {
                margin-left: 5px;
              }
            }
            .ratings {
              margin-right: 5px;
              .fa-star,
              .fa-star-half-alt {
                color: var(--color-light-gray);
              }
              .count {
                margin-left: 5px;
                color: var(--color-gray);
                font-size: 14px;
              }
            }
          }
          .code {
            text-transform: uppercase;

            span {
              font-size: 14px;
            }
            span:nth-child(2) {
              margin-left: 5px;
            }
          }
        }
        .name {
          margin-top: 5px;
          h2 {
            font-weight: 400;
            font-size: 29px;
          }
        }
        .price_discount {
          .price {
            font-weight: 800;
            font-size: 25px;
          }
          .discounted {
            margin-left: 5px;
          }
        }
        .save {
          display: inline-flex;
          align-items: center;
          position: relative;
          white-space: nowrap;
          border: 1px solid rgba(221, 75, 57, 0.15);
          color: rgba(221, 75, 57, 0.8);
          padding: 2px 7px;
          margin-top: 5px;
          font-size: 12px;
          border-radius: 8px;
          &::before {
            content: "";
            position: absolute;
            top: -9px;
            left: 10px;
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 8px 12px 0 0;
            border-color: transparent rgba(221, 75, 57, 0.16) transparent
              transparent;
          }
          span:nth-child(1) {
            margin-right: 5px;
          }
        }
        .countInStock {
          font-size: 15px;
          margin-top: 10px;
          .available {
            color: var(--color-tab);
          }
          .unavailable {
            color: var(--color-primary);
          }
        }
        .size {
          flex-direction: column;
          margin: 10px 0px;
          label {
            font-weight: 600;
            font-size: 13px;
          }
          select {
            width: 200px;
            height: 32px;
            border-radius: 5px;
          }
        }
        .color {
          p {
            margin-left: 5px;
            font-size: 12px;
            font-weight: 500;
          }
          .gap {
            gap: 8px;
          }
          .colorImg {
            border: 1px solid var(--color-border);
            padding: 4px;
            border-radius: 8px;
            width: 60px;
            height: 60px;
            cursor: pointer;
            position: relative;

            .icon {
              font-size: 16px;
              padding: 2px;
              background: #005999;
              color: var(--color-white);
              border-radius: 50%;
              position: absolute;
              top: -5px;
              right: -4px;
              display: none;
            }
            img {
              width: 100%;
              height: 100%;
            }
          }
          .colorImg.active {
            border-color: #005999;
            box-shadow: 0 0 0 2px rgba(0, 119, 204, 0.15);
            .icon {
              display: block;
            }
          }
        }
        .promotion {
          margin-top: 10px;
          background-color: rgba(221, 75, 57, 0.07);
          padding: 10px;
          border-radius: 12px;
          margin-bottom: 20px;
          gap: 10px;
          .left {
            h3 {
              color: var(--color-primary);
              font-size: 14px;
            }
            a {
              text-decoration: none;
              .icon {
                font-size: 18px;
              }
            }
          }
          .right {
            .time_period {
              margin-top: 0;
              .time {
                background-color: var(--color-white);
                border-radius: 8px;
                padding: 3px 20px;
                box-shadow: 0 0 3px rgba(221, 75, 57, 0.3);
                span {
                  flex-direction: column;
                  ul {
                    background: transparent;
                    padding: 0px;
                    margin: 0;
                    li {
                      padding: 10px;
                      span {
                        font-size: 16px;
                      }
                    }
                  }
                  small {
                    color: var(--color-gray);
                    font-size: 12px;
                  }
                }
              }
            }
          }
        }
        .btn {
          gap: 10px;
          button {
            background: transparent;
            cursor: pointer;
          }
          .qty {
            padding: 8px 6px;
            border-radius: 30px;
            border: 1px solid var(--color-light-gray);
            gap: 20px;
            button {
              .icon {
                font-size: 17px;
              }
            }
          }
          .add_to_cart {
            width: 100%;
            button {
              background-color: var(--color-primary);
              padding: 10px 0px;
              color: var(--color-white);
              font-size: 16px;
              border-radius: 30px;
              width: 100%;
            }
          }
          .buy_now {
            width: 100%;
            button {
              background: var(--color-short);
              padding: 13px 0px;
              color: var(--color-black);
              font-size: 16px;
              border-radius: 30px;
              width: 100%;
            }
          }
        }
        .add_compare_share {
          width: 100%;
          margin-top: 15px;
          a {
            text-decoration: none;
            small {
              font-size: 14px;
            }
          }
          .icon {
            font-size: 20px;
            margin-right: 3px;
            color: var(--color-tab);
          }
          .wish {
            .icon {
              padding: 0 !important;
              margin: 0 !important;
              border-color: var(--color-tab);
            }
            small {
              margin-left: 3px;
              font-size: 14px !important;
              color: var(--color-tab);
            }
          }
          .share {
            margin-left: 10px;
          }
        }
        .seller {
          margin-top: 15px;
          border: 1px solid var(--color-border);
          border-radius: 10px;
          gap: 10px;
          padding: 10px 15px;
          .img {
            img {
              width: 100px;
            }
          }
          .info {
            .name {
              a {
                margin-left: 5px;
              }
            }
            .desc {
              p {
                line-height: 18px;
                font-size: 13px;
              }
            }
            .question {
              margin-top: 5px;
              .icon {
                font-size: 18px;
              }
            }
          }
        }
        .box {
          margin-top: 15px;
          border: 1px solid var(--color-border);
          border-radius: 10px;
          div {
            border-top: 0.5px solid var(--color-border);

            &:hover {
              cursor: pointer;
              h4 {
                color: var(--color-tab);
                transition: var(--transition);
              }
            }
            &:first-child {
              border: none;
            }
          }
          h4 {
            font-size: 14px;
          }
          .icon {
            color: var(--color-gray);
            margin-right: 5px;
            font-size: 19px;
          }
          .drop_list {
            .remove_icon {
              color: var(--color-gray);
            }
            .drop_header {
              padding: 8px 20px;
            }
          }
          .lower_list {
            margin-left: 30px;
            padding-bottom: 20px;
            li {
              font-size: 13px;
              color: var(--color-gray);
            }
          }
        }
        .lower_text {
          margin-top: 10px;
          .link {
            text-decoration: underline;
            text-underline-offset: 1.3px;
            text-decoration-style: dotted;
            text-decoration-thickness: 1px;
            text-decoration-color: var(--color-tab);
            margin-right: 5px;
          }
          .icon {
            font-size: 17px;
            margin-right: 4px;
          }
          .button-text {
            text-transform: none;
            font-size: 15px;
            background: transparent;
            text-decoration: underline;
            text-underline-offset: 1.3px;
            text-decoration-style: dotted;
            text-decoration-thickness: 1px;
            text-decoration-color: var(--color-tab);
            padding: 0;
            margin-left: 5px;
            color: var(--color-tab);
            &:hover {
              color: var(--color-link-hover);
            }
          }
          .location {
            .link {
              margin-left: 5px;
            }
          }
          .shipping {
            margin: 5px 0px;
          }
          .desc {
            p {
              line-height: 17px;
              font-size: 14px;
            }
          }
        }
      }
      /*======= MEDIA QUERIES (MEDIUM DEVICES) =======*/
      @media screen and (max-width: 1300px) {
        grid-template-columns: 50% 50%;
        gap: 10px;
        .img_slides {
          .image {
            .main_image {
              left: 3%;
            }
          }
        }
      }
      /*======= MEDIA QUERIES (MEDIUM DEVICES) =======*/
      @media screen and (max-width: 1024px) {
        .img_slides {
          .image {
            .f_flex {
              flex-direction: column-reverse;
            }
            .top_info {
              left: 0;
            }
            .main_image {
              left: 0%;
            }
          }
          .slider_style {
            width: 100%;
            display: flex;
            justify-content: center;
            .thumbnail_slider {
              width: 80%;
            }
          }
        }
        .product_details {
          margin-right: 8px;
        }
      }
      /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
      @media screen and (max-width: 900px) {
        grid-template-columns: 100%;
        margin-bottom: 20px;
        .img_slides {
          display: flex;
          justify-content: center;
          .image {
            width: 75%;
            .top_info {
              left: -15%;
            }

            .specifications {
              .a_flex {
                flex-wrap: wrap;
                justify-content: center;
                .img {
                  border-radius: 10px;
                  width: 40px !important;
                  height: 40px !important;
                }
              }
            }
          }
          .slider_style {
            .thumbnail_slider {
              width: 240px;
              .small_images {
                width: 40px;
              }
            }
          }
        }
        .product_details {
          margin-right: 0px;
          width: 100%;
          padding: 0;
        }
      }
      /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
      @media screen and (max-width: 600px) {
        .img_slides {
          .image {
            .product_gallery_container {
              flex-direction: row;
              .img_large {
                .product_main_image_slider {
                  width: 100%;
                }
              }
              .horizontal_img {
                position: relative;
                display: flex;
                justify-content: center;
                width: 100%;
                .img_small {
                  width: 315px;
                  height: 75px;
                  margin-top: 20px;
                  padding: 0px 20px;
                  position: relative;
                  top: 10px;
                  .swiper-button-next,
                  .swiper-button-prev {
                    // position: relative;
                    transform: rotate(0deg);
                    // margin-bottom: 30px;
                  }
                  .swiper-button-next {
                    margin-top: 0px;
                    right: -20px;
                    top: 0;
                  }
                  .swiper-button-prev {
                    top: 10px;
                    left: -20px;
                  }
                  .product_main_image_thumbs {
                    height: auto;
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
      /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
      @media screen and (max-width: 480px) {
        .product_details {
          .name {
            h2 {
              font-size: 23px;
            }
          }
          .price_discount {
            .price {
              font-weight: 800;
              font-size: 20px;
            }
          }
          .promotion {
            flex-direction: column;
          }
          .btn {
            flex-wrap: wrap;
          }
          .add_compare_share {
            .a_flex {
              flex-wrap: wrap;
            }
          }
        }
      }
      /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
      @media screen and (max-width: 300px) {
        .img_slides {
          .image {
            .specifications {
              .a_flex {
                .img {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
  .description {
    p {
      font-size: 15px;
    }
  }
  .review_section {
    .rev_style {
      .switch {
        gap: 20px;
        border-bottom: 1px solid var(--color-border);
        span {
          cursor: pointer;
          .count {
            margin-left: 5px;
            margin-bottom: -1px;
            background-color: var(--color-tab);
            padding: 0px 5px;
            height: 15px;
            border-radius: 20px;
            color: var(--color-white);
            position: relative;
            top: 5px;
            small {
              margin-top: 1px;
            }
          }
          &:hover {
            transition: var(--transition);
            border-bottom: 2px solid var(--color-light);
          }
        }
        .active {
          border-bottom: 2px solid var(--color-primary);
          &:hover {
            color: var(--color-primary);
            transition: var(--transition);
            border-bottom: 2px solid var(--color-primary);
          }
        }
      }
      .review {
        .d_flex {
          gap: 20px;
        }
        .list {
          width: 100%;
          .no_post {
            padding: 60px 0px;
            border: 1px solid var(--color-border);
            width: 100%;
            border-radius: 10px;
            h3 {
              font-size: 16px;
              color: var(--color-light-gray);
              font-weight: 300;
            }
          }
          .review_list {
            .review_list_box {
              .reviewList {
                gap: 50px;
                .rating {
                  text-align: center;
                  .box {
                    background-color: var(--color-light-light-gray);
                    padding: 8px 0px;
                    width: 110px;
                    border-radius: 10px;
                    gap: 5px;
                    margin-bottom: 10px;
                  }
                  .num_reviews {
                    margin-top: 7px;
                    span {
                      margin-left: 5px;
                    }
                  }
                }
                .rating_bars {
                  line-height: 25px;

                  .bar {
                    gap: 30px;

                    .LineProgressBar {
                      width: 320px;
                      position: relative;
                      left: 10px;
                    }
                    small {
                      word-wrap: normal;
                      gap: 10px;
                      width: 30px;
                      text-align: center;
                    }
                  }
                }
                /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
                @media screen and (max-width: 625px) {
                  width: 100% !important;
                  gap: 30px;
                  .rating_bars {
                    width: 80%;
                    .bar {
                      width: 100% !important;
                      .LineProgressBar {
                        width: 100% !important;
                      }
                    }
                  }
                }
                /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
                @media screen and (max-width: 460px) {
                  flex-direction: column;
                  .rating {
                    display: flex;

                    flex-direction: column;
                    align-items: center;
                  }
                  .rating_bars {
                    width: 100%;
                  }
                }
              }
              .sort_bar {
                margin-top: 30px;
                border: 1px solid var(--color-border);
                border-radius: 10px;
                padding: 8px 15px;
                a {
                  color: var(--color-tab);
                  text-decoration: underline;
                  text-underline-offset: 1.3px;
                  text-decoration-style: dotted;
                  text-decoration-thickness: 1px;
                  text-decoration-color: var(--color-tab);
                  transition: var(--transition);
                  &:hover {
                    color: var(--color-link-hover);
                  }
                }

                label {
                  margin-right: 5px;
                }
                .icon {
                  font-size: 18px;
                  margin-right: 4px;
                }
              }
              .comment_list {
                margin-top: 30px;

                .list {
                  border: 1px solid var(--color-border);
                  padding: 10px 15px;
                  border-radius: 10px;
                  padding-bottom: 30px;
                  position: relative;
                  .header {
                    margin-bottom: 20px;
                    .rating {
                      span {
                        .fa-star,
                        .fa-star-half-alt {
                          font-size: 13px;
                        }
                      }
                      small {
                        position: relative;
                        top: 2.5px;
                        left: 7px;
                      }
                    }
                    .date_time {
                      .date {
                        margin-right: 5px;
                      }
                    }
                  }
                  .comment {
                    h5 {
                      margin-bottom: 5px;
                    }
                    p {
                      font-size: 14px;
                    }
                  }
                  .like_dislike {
                    float: right;
                    padding-bottom: 20px;
                    .fa-regular {
                      cursor: pointer;
                      margin-right: 3px;
                      &:hover {
                        transition: var(--transition);
                        color: var(--color-tab);
                      }
                    }
                    .like {
                      margin-right: 13px;
                    }
                  }
                }
              }
            }
          }
        }
        .review_box {
          text-align: center;
          padding: 15px 20px;
          border-radius: 10px;
          min-width: 350px;
          height: 150px;
          background-color: var(--color-light-light-gray);
          .btn {
            margin-top: 15px;
            .review_btn {
              background-color: var(--color-primary);
              color: var(--color-white);
              padding: 10px 15px;
              border-radius: 20px;
              cursor: pointer;
            }
          }
        }
        /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
        @media screen and (max-width: 900px) {
          .d_flex {
            flex-direction: column;
            justify-content: flex-start;
          }
          .review_box {
            width: 100%;
          }
        }
      }
    }
  }
  .features {
    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      .feature_list {
        position: relative;
        page-break-inside: avoid;
        break-inside: avoid-column;
        line-height: 35px;
        &::after {
          content: "";
          height: 1px;
          position: absolute;
          left: 0;
          right: 0;
          top: calc(12px * 1.73);
          background: linear-gradient(90deg, black 35%, transparent 0%);
          background-size: 4px;
          background-repeat: repeat-x;
          opacity: 0.3;
        }
        span {
          font-size: 14px;
          color: var(--color-gray);
          word-wrap: normal;
        }
        span:nth-child(1) {
          z-index: 1;
          background: var(--color-white);
          padding-right: 10px;
        }
        span:nth-child(2) {
          display: flex;
          align-items: flex-start;
          position: relative;
          background: var(--color-white);
          width: 60%;
          min-width: 55%;
          margin-left: 0;
          padding-left: 10px;
          z-index: 1;
        }
      }
      /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
      @media screen and (max-width: 800px) {
        grid-template-columns: 1fr;
      }
      /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
      @media screen and (max-width: 350px) {
        .feature_list {
          flex-direction: column;
          align-items: flex-start;
          width: 100%;
        }
      }
    }
  }
  .on_demand {
    .related {
      margin-top: 30px;
    } /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
    @media screen and (max-width: 420px) {
      .main_header {
        h2 {
          font-size: 19px;
        }
      }
    }
  }
  .product_page_banner {
    margin: 30px 0px;
    .content {
      position: relative;
      .img {
        height: 300px;
        width: 100%;
        img {
          width: 100%;
          height: 100%;
          border-radius: 20px;
          object-fit: cover;
        }
      }
      .text {
        width: 35%;
        position: absolute;
        top: 25%;
        left: 5%;
        z-index: 1;
        color: var(--color-white);
        p {
          margin: 20px 0px;
          margin-top: 10px;
        }
        .btn {
          a {
            background-color: var(--color-primary);
            padding: 10px 15px;
            border-radius: 20px;
            color: var(--color-white);
          }
        }
      }
      /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
      @media screen and (max-width: 750px) {
        .text {
          width: 60%;
          top: 20%;
        }
      }
      /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
      @media screen and (max-width: 440px) {
        .text {
          width: 80%;
          top: 10%;
        }
      }
    }
  }
  .wrapper {
    background-color: var(--color-light-light-gray);
    padding: 60px 0px;
    margin-top: 40px;
    .content {
      text-align: center !important;
      gap: 20px;
      .icon_circle {
        margin-bottom: 5px;
        span {
          background-color: var(--color-rating);
          padding: 20px;
          width: 70px;
          height: 70px;
          border-radius: 50%;
          i {
            font-size: 25px;
          }
        }
      }
      /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
      @media screen and (max-width: 750px) {
        flex-direction: column;
      }
    }
  }
}
