.product-details-page {
  margin-bottom: 20px;
  .product_control_btn {
    .next {
      position: relative;
      top: 5px;
    }
    .prev {
      position: relative;
      bottom: 10px;
    }
    button {
      cursor: pointer;
      width: 60px;
      height: 20px;
      border-radius: 4px;
      position: relative;
      bottom: 10px;
      transition: var(--transition);
      .icon {
        font-size: 16px;
      }
      &:hover {
        background-color: var(--color-light-light-gray);
        .icon {
          color: var(--color-tab);
        }
      }
    }
  }
  .details {
    a {
      color: var(--color-tab);
      text-decoration: underline;
      text-underline-offset: 1.3px;
      text-decoration-style: dotted;
      text-decoration-thickness: 1px;
      text-decoration-color: var(--color-tab);
      transition: var(--transition);
      font-size: 13px;
      &:hover {
        color: var(--color-link-hover);
      }
    }
    .link {
      color: var(--color-tab);
      transition: var(--transition);
      font-size: 13px;
      cursor: pointer;
      &:hover {
        color: var(--color-link-hover);
      }
    }
    margin-top: 20px;
    .content {
      display: grid;
      grid-template-columns: 60% 40%;
      gap: 20px;
      .img_slides {
        position: relative;
        .image {
          position: relative;
          width: 95%;
          margin-bottom: 30px;
          .top_info {
            position: absolute;
            top: 0;
            left: 12%;
            .popular {
              background-color: #b05cf5;
              padding: 3px 8px;
              font-size: 14px;
              color: var(--color-white);
              border-radius: 15px;
            }
          }
          .main_image {
            position: relative;
            left: 10%;
            .specifications {
              margin-top: 10px;
              .a_flex {
                gap: 10px;
                .img {
                  border-radius: 15px;
                  width: 60px;
                  height: 60px;
                }
              }
            }
          }
        }

        .thumbnail_slider {
          width: 70px;
          margin-top: 15px;
          .small_images {
            width: 60px;
          }
        }
      }
      .product_details {
        width: 100%;
        .rating_code {
          .rating {
            .reviews {
              font-size: 13px;
              color: var(--color-tab);
              a {
                margin-left: 5px;
              }
            }
            .ratings {
              margin-right: 5px;
              .fa-star,
              .fa-star-half-alt {
                color: var(--color-light-gray);
              }
              .count {
                margin-left: 5px;
                color: var(--color-gray);
                font-size: 14px;
              }
            }
          }
          .code {
            text-transform: uppercase;
            position: relative;
            right: 15px;
            span {
              font-size: 14px;
            }
            span:nth-child(2) {
              margin-left: 5px;
            }
          }
        }
        .name {
          margin-top: 5px;
          h2 {
            font-weight: 400;
            font-size: 29px;
          }
        }
        .price_discount {
          .price {
            font-weight: 800;
            font-size: 25px;
          }
          .discounted {
            margin-left: 5px;
          }
        }
        .save {
          display: inline-flex;
          align-items: center;
          position: relative;
          white-space: nowrap;
          border: 1px solid rgba(221, 75, 57, 0.15);
          color: rgba(221, 75, 57, 0.8);
          padding: 2px 7px;
          margin-top: 5px;
          font-size: 12px;
          border-radius: 8px;
          &::before {
            content: "";
            position: absolute;
            top: -9px;
            left: 10px;
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 8px 12px 0 0;
            border-color: transparent rgba(221, 75, 57, 0.16) transparent
              transparent;
          }
          span:nth-child(1) {
            margin-right: 5px;
          }
        }
        .countInStock {
          font-size: 15px;
          margin-top: 10px;
          .available {
            color: var(--color-tab);
          }
          .unavailable {
            color: var(--color-primary);
          }
        }
        .size {
          flex-direction: column;
          margin: 10px 0px;
          label {
            font-weight: 600;
            font-size: 13px;
          }
          select {
            width: 200px;
            height: 32px;
            border-radius: 5px;
          }
        }
        .promotion {
          margin-top: 10px;
          background-color: rgba(221, 75, 57, 0.07);
          padding: 10px;
          border-radius: 12px;
          margin-bottom: 20px;
          gap: 10px;
          .left {
            h3 {
              color: var(--color-primary);
              font-size: 14px;
            }
            a {
              text-decoration: none;
              .icon {
                font-size: 18px;
              }
            }
          }
          .right {
            .time_period {
              margin-top: 0;
              .time {
                background-color: var(--color-white);
                border-radius: 8px;
                padding: 3px 20px;
                box-shadow: 0 0 3px rgba(221, 75, 57, 0.3);
                span {
                  flex-direction: column;
                  ul {
                    background: transparent;
                    padding: 0px;
                    margin: 0;
                    li {
                      padding: 10px;
                      span {
                        font-size: 16px;
                      }
                    }
                  }
                  small {
                    color: var(--color-gray);
                    font-size: 12px;
                  }
                }
              }
            }
          }
        }
        .btn {
          gap: 10px;
          button {
            background: transparent;
            cursor: pointer;
          }
          .qty {
            padding: 10px 6px;
            border-radius: 30px;
            border: 1px solid var(--color-light-gray);
            gap: 20px;
            button {
              .icon {
                font-size: 17px;
              }
            }
          }
          .add_to_cart {
            width: 100%;
            button {
              background-color: var(--color-primary);
              padding: 10px 0px;
              color: var(--color-white);
              font-size: 16px;
              border-radius: 30px;
              width: 100%;
            }
          }
          .buy_now {
            width: 100%;
            button {
              background: var(--color-short);
              padding: 13px 0px;
              color: var(--color-black);
              font-size: 16px;
              border-radius: 30px;
              width: 100%;
            }
          }
        }
        .add_compare_share {
          width: 100%;
          margin-top: 15px;
          a {
            text-decoration: none;
            small {
              font-size: 14px;
            }
          }
          .icon {
            font-size: 20px;
            margin-right: 3px;
            color: var(--color-tab);
          }
          .wish {
            .icon {
              padding: 0 !important;
              margin: 0 !important;
              border-color: var(--color-tab);
            }
            small {
              margin-left: 3px;
              font-size: 14px !important;
              color: var(--color-tab);
            }
          }
          .share {
            margin-left: 10px;
          }
        }
        .seller {
          margin-top: 15px;
          border: 1px solid var(--color-border);
          border-radius: 10px;
          gap: 10px;
          padding: 10px 15px;
          .img {
            img {
              width: 100px;
            }
          }
          .info {
            .name {
              a {
                margin-left: 5px;
              }
            }
            .desc {
              p {
                line-height: 18px;
                font-size: 13px;
              }
            }
            .question {
              margin-top: 5px;
              .icon {
                font-size: 18px;
              }
            }
          }
        }
        .box {
          margin-top: 15px;
          border: 1px solid var(--color-border);
          border-radius: 10px;
          div {
            border-top: 0.5px solid var(--color-border);

            &:hover {
              cursor: pointer;
              h4 {
                color: var(--color-tab);
                transition: var(--transition);
              }
            }
            &:first-child {
              border: none;
            }
          }
          h4 {
            font-size: 14px;
          }
          .icon {
            color: var(--color-gray);
            margin-right: 5px;
            font-size: 19px;
          }
          .drop_list {
            .remove_icon {
              color: var(--color-gray);
            }
            .drop_header {
              padding: 8px 20px;
            }
          }
          .lower_list {
            margin-left: 30px;
            padding-bottom: 20px;
            li {
              font-size: 13px;
              color: var(--color-gray);
            }
          }
        }
        .lower_text {
          margin-top: 10px;
          .link {
            text-decoration: underline;
            text-underline-offset: 1.3px;
            text-decoration-style: dotted;
            text-decoration-thickness: 1px;
            text-decoration-color: var(--color-tab);
            margin-right: 5px;
          }
          .icon {
            font-size: 17px;
            margin-right: 4px;
          }
          .button-text {
            text-transform: none;
            font-size: 15px;
            background: transparent;
            text-decoration: underline;
            text-underline-offset: 1.3px;
            text-decoration-style: dotted;
            text-decoration-thickness: 1px;
            text-decoration-color: var(--color-tab);
            padding: 0;
            margin-left: 5px;
            color: var(--color-tab);
            &:hover {
              color: var(--color-link-hover);
            }
          }
          .location {
            .link {
              margin-left: 5px;
            }
          }
          .shipping {
            margin: 5px 0px;
          }
          .desc {
            p {
              line-height: 17px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .description {
    p {
      font-size: 15px;
    }
  }
  .review_section {
    .rev_style {
      .switch {
        gap: 20px;
        border-bottom: 1px solid var(--color-border);
        span {
          cursor: pointer;
          &:hover {
            transition: var(--transition);
            border-bottom: 2px solid var(--color-light);
          }
        }
        .active {
          border-bottom: 2px solid var(--color-primary);
          &:hover {
            color: var(--color-primary);
            transition: var(--transition);
            border-bottom: 2px solid var(--color-primary);
          }
        }
      }
      .review {
        .d_flex {
          gap: 20px;
        }
        .list {
          width: 100%;
          .no_post {
            padding: 60px 0px;
            border: 1px solid var(--color-border);
            width: 100%;
            border-radius: 10px;
            h3 {
              font-size: 16px;
              color: var(--color-light-gray);
              font-weight: 300;
            }
          }
        }
        .review_box {
          text-align: center;
          padding: 15px 20px;
          border-radius: 10px;
          min-width: 350px;
          background-color: var(--color-light-light-gray);
          .btn {
            margin-top: 15px;
            .review_btn {
              background-color: var(--color-primary);
              color: var(--color-white);
              padding: 10px 15px;
              border-radius: 20px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
