.filters_add_update {
  // position: relative;
  .inline_input {
    gap: 20px;
  }
  .more_feature {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 20px;
    .more_feature_box {
      border: 1px solid var(--color-border);
      border-radius: 8px;
      padding: 10px;
      .subCategories {
        border-bottom: 1px solid var(--color-border) !important;
      }
    }
    /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
    @media screen and (max-width: 780px) {
      grid-template-columns: 1fr !important;
    }
  }
  .product_info_color {
    padding: 20px;
    .product_info_box {
      padding: 0 !important;
      display: flex !important;
      flex-direction: column;
      .link_img {
        margin-top: 10px;
      }
      .color_list {
      }
    }
  }
  button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: var(--color-white);
  }
  button[type="submit"] {
    background-color: var(--color-blue);
  }

  button[type="button"] {
    background-color: var(--color-youtube);
  }

  .remove_btn {
    width: fit-content;
    margin-top: 8px;
    position: relative;
    z-index: 1 !important;

    span {
      background-color: var(--color-youtube);
      color: var(--color-white);
      padding: 10px;
      font-size: 13px;
      border-radius: 8px;
      cursor: pointer;
      .icon {
        font-size: 16px;
      }
    }
  }
  .sub_btn {
    position: relative;
    left: 200px;
    z-index: 1;
    bottom: 33px;
  }
  .sub_btn_btn {
    padding: 10px 0px;
    margin-top: 10px;
  }
  .sub_btn,
  .sub_btn_btn {
    span {
      background-color: var(--color-blue);
      color: var(--color-white);
      padding: 10px;
      border-radius: 8px;
      font-size: 13px;
      cursor: pointer;
    }
    /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
    @media screen and (max-width: 400px) {
      left: 0;
      bottom: 0;
      margin: 15px 0px !important;
    }
  }
  .bottom_btn {
    padding-bottom: 15px;
    button {
      background-color: var(--color-light-green) !important;
    }
  }
}
