.product_main {
  .content {
    .header {
      .main_header {
        h2 {
          font-weight: 800;
        }
      }
      .sub_heading {
        margin-top: 15px;
        ul {
          li {
            margin-right: 15px;
            color: var(--color-gray);
            cursor: pointer;
            &.active {
              border-bottom: 3px solid var(--color-primary);
            }
          }
        }
      }
    }
    .product_list {
      margin-top: 10px;
      height: 100%;
      .slick-slider {
        height: 100% !important;
      }
      .product_card {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        overflow: hidden;
        /*======= MEDIA QUERIES (MEDIUM DEVICES) =======*/
        @media screen and (max-width: 1200px) {
          grid-template-columns: repeat(4, 1fr);
        }

        /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
        @media screen and (max-width: 900px) {
          grid-template-columns: repeat(3, 1fr);
        }

        /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
        @media screen and (max-width: 630px) {
          grid-template-columns: repeat(2, 1fr);
        }
        /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
        @media screen and (max-width: 340px) {
          grid-template-columns: 1fr;
        }
      }
      .card_content {
        border: 1px solid var(--color-border);
        padding: 15px;
        overflow: hidden;
        width: 100%;

        position: relative;

        .info_top {
          .left {
            position: absolute;
            z-index: 2;
            flex-direction: column;
            font-size: 12px;
            color: var(--color-white);
            gap: 5px;
            .num_discount {
              background-color: #f3ba1e;
              padding: 3px;
              width: 40px;
              border-radius: 15px;
            }
            .new {
              background-color: #2fa318;
              padding: 3px;
              width: 40px;
              border-radius: 15px;
            }
            .most_popular {
              background-color: #b05cf5;
              padding: 3px 8px;
              border-radius: 15px;
            }
          }
          .small_device {
            position: absolute;
            display: none;
            z-index: 2;
            right: 15px;
            width: 35px;
            height: 35px;
            color: var(--color-gray);
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 5px;
            backdrop-filter: blur(5px);
            .icon {
              cursor: pointer;
              transition: var(--transition);
              &:hover {
                color: var(--color-tab);
              }
            }
          }
          .right {
            display: none;
            position: absolute;
            z-index: 2;
            right: 15px;
            top: -100%; /* Start above the .info_top */
            transition: top 0.5s ease-in-out; /* Add a smooth transition for the top property */
            .icon {
              cursor: pointer;
              transition: var(--transition);
              &:hover {
                color: var(--color-tab);
              }
            }
          }
        }

        &:hover {
          .right {
            display: flex;
            animation: dropDown 0.5s ease-in-out forwards; /* Apply the dropDown animation */
            flex-direction: column;
            align-items: center;
            gap: 5px;
            margin-top: 13px;
            .right_background {
              width: 35px;
              height: 35px;
              color: var(--color-gray);
              background-color: rgba(255, 255, 255, 0.5);
              border-radius: 5px;
              backdrop-filter: blur(5px);
            }
          }
        }

        .product-image {
          position: relative;
          height: auto;

          .img {
            position: relative;
            display: block;
            width: 100%;
            height: auto;

            &:hover {
              .demand-image-list,
              .image-list {
                opacity: 1;
              }
            }

            .image_img {
              width: 100%;
            }

            .demand-image-list,
            .image-list {
              position: absolute;
              bottom: 0;
              right: 0;
              opacity: 0;
              width: 100%;
              display: flex;
              justify-content: center; /* Center horizontally */
              padding: 8px 0;
              z-index: 1; /* Ensure the image list is above the main image */

              .image-bar {
                width: 100%; /* Adjust the width of the image bars */
                height: 340px; /* Adjust the height of the image bars */
                margin: 0 3px; /* Adjust the spacing between image bars */
                border-bottom: 2px solid var(--color-light-gray); /* Color of the image bars */
                transition: background-color 0.3s ease; /* Add a transition effect */
                &:hover {
                  border-bottom: 2px solid var(--color-tab);
                }
              }

              .image-bar.active {
                border-bottom: 1px solid var(--color-tab);
              }
            }

            .main-image {
              display: block;
              width: 100%;
              height: 260px;
              object-fit: contain;
              transition: opacity 0.3s ease; /* Add a transition effect for fading between images */
              /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
              @media screen and (max-width: 450px) {
                height: 300px;
              }
            }
          }
        }

        .name {
          h5 {
            font-weight: 400;
            color: var(--color-gray);
            font-size: 14px;

            /*======= MEDIA QUERIES (MEDIUM DEVICES) =======*/
            @media screen and (max-width: 950px) {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
        .ratings {
          margin: 5px 0px;
          color: var(--color-gray);
          gap: 5px;
          flex-wrap: wrap;
          .not_rated {
            color: var(--color-light-gray);
          }
          .rated {
            color: var(--color-rating);
          }
          .promo_youtube {
            gap: 3px;
            .icon {
              color: var(--color-youtube);
              font-size: 16px;
            }
          }
        }
        .countInStock {
          font-size: 15px;

          .available {
            color: var(--color-tab);
          }
          .unavailable {
            color: var(--color-primary);
          }
        }
        .lower_bottom {
          width: 100%;
          bottom: 0;
          .price_discount {
            .a_flex {
              flex-wrap: wrap;
              gap: 5px;
            }
            .c_flex {
              flex-wrap: nowrap;
            }
            .price {
              color: var(--color-black);
              font-weight: 800;
            }
            .discounted {
              font-size: 12px;
            }
          }

          .add_to_cart_btn {
            gap: 10px;
            position: absolute;
            float: right;
            right: 10px;
            padding: 4px;
            border-radius: 50px;
            border: 1px solid var(--color-white);
            transition: var(--transition);
            .quantity {
              gap: 5px;
              display: none;
              margin-left: 5px;

              .qty {
                width: 20px;
                font-size: 15px;
              }
              button {
                background: transparent;
                font-size: 13px;
                cursor: pointer;
                i {
                  color: var(--color-gray);
                }
              }
            }
            &:hover {
              border: 1px solid var(--color-border);
              background-color: var(--color-white);

              .quantity {
                display: flex;
              }
            }
            .btn {
              background-color: var(--color-primary);
              color: var(--color-white);
              width: 35px;
              height: 35px;
              border-radius: 50%;
              cursor: pointer;
            }
          }
        }
        /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
        @media screen and (max-width: 745px) {
          .info_top {
            .right {
              display: none;
            }
            .small_device {
              display: flex;
            }
          }
        }
      }
    }
  }
}
/* Keyframes animation for dropping down */
@keyframes dropDown {
  0% {
    top: -100%; /* Start above the .info_top */
  }
  100% {
    top: 0; /* Move to its original position */
  }
}
