.form-box {
  margin-top: 10px;
  margin-bottom: 50px;
  label,
  p,
  a,
  .resend {
    font-size: 14px;
  }
  a,
  .resend {
    color: var(--color-gray);
    cursor: pointer;
  }

  .form-box-content {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 7%;
    .inner-form-small {
      .unsubscribe_text {
        margin: 10px 0px !important;
      }
    }
    .inner-form {
      h1 {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 25px;
      }
      .inline_input {
        margin: -20px 0px;
        gap: 20px;
      }
      .form-group {
        margin: 15px 0px;
        width: 100%;
        input.input-error,
        .textarea.input-error,
        select.input-error {
          border: 1px solid var(--color-primary);
        }
        .error {
          color: var(--color-primary);
          font-size: 14px;
        }
        input {
          width: 100%;
          border: 1px solid var(--color-light-gray);
          border-radius: 8px;
          padding: 10px;
        }
        .textarea {
          width: 100%;
          min-height: 100px;
          resize: vertical;
          border-radius: 10px;
          border: 1px solid var(--color-light-gray);
        }
        .select_styles {
          width: 100%;
          padding: 10px;
          border-radius: 8px;
        }
        .eye-icon {
          float: right;
          position: relative;
          bottom: 34px;
          right: 10px;
        }
      }
      .form-btn {
        background-color: var(--color-bg);
        width: 100%;
        padding: 15px;
        border-radius: 8px;
        .form-submit-btn {
          padding: 10px 40px;
          background-color: var(--color-primary);
          color: var(--color-white);
          border-radius: 8px;
          cursor: pointer;
          font-size: 15px;
        }
      }
      .mailing {
        h1 {
          margin-bottom: 8px;
        }
        p {
          margin-bottom: 5px;
        }
        margin-bottom: 30px;
      }
      .remember {
        input {
          margin-right: 8px;
          width: 18px;
          height: 18px;
          border-radius: 10px;
          cursor: pointer;
        }
      }
    }
    .form-lower-text {
      position: relative;
      top: 35px;
      width: 85%;

      .register_now {
        h2 {
          color: var(--color-light-gray);
          margin-bottom: 20px;
          font-size: 20px;
        }
        ul {
          line-height: 30px;
          position: relative;
          left: 20px;
          li {
            list-style: disc;
          }
        }
      }
    }
  }
  @media (max-width: 745px) {
    .form-box-content {
      .inner-form {
        .inline_input {
          flex-direction: column;
          gap: 0;
          margin-left: 0;
          // margin: 0;
          width: 100%;
          .form-group {
            width: 100%;
          }
          .form-group:nth-child(1) {
            margin-bottom: -5px;
          }
        }
      }
    }
  }
  @media (max-width: 530px) {
    .form-box-content {
      display: flex;
      flex-direction: column-reverse;
      .form-lower-text {
        top: 0;
        width: 100%;
      }
    }
  }
  @media (max-width: 420px) {
    .form-box-content {
      h1,
      h2 {
        font-size: 17px !important;
      }
    }
  }
}
