.on_demand {
  .lower_bottom {
    position: absolute;
    width: 100%;
    margin-bottom: 20px;

    .add_to_cart_btn {
      position: absolute;
      // position: relative;
      right: 0px;
      float: right;
    }
  }
}
