.menu_btn_icon {
  .badge {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    color: var(--color-light);
    background-color: var(--color-tab);
    position: relative;
    bottom: 15px;
    left: 11px;
    margin-top: -16px;
    span {
      font-size: 13px;
    }
  }
}

.category_drop_menu {
  padding: -10px 0px;
  margin: -10px 0px;
  padding-top: 10px;

  outline: none;
  // /*======= MEDIA QUERIES (MEDIUM DEVICES) =======*/
  // @media screen and (max-width: 900px) {
  //   display: none;
  // }
  .cat_border {
    .border {
      .list {
        position: relative;
        .category {
          // margin-bottom: 20px;
          position: relative;
          display: grid;
          grid-template-columns: 20% 80%;

          overflow: hidden !important;
          .c_flex {
            gap: 20px;
            margin-bottom: 15px;
            position: relative;
          }
          .main_list {
            width: fit-content;
            height: 100%;
            padding-left: 10px;
            z-index: 10;
            .c_flex {
              height: 60px;
              position: relative;
              top: 8px;
            }
            .img {
              img {
                width: 35px;
                height: 35px;
                object-fit: cover;
              }
            }
            .name_desc {
              width: 200px;
              .name {
                h4 {
                  color: var(--color-black);
                }
              }
              .description {
                p {
                  font-size: 13px;
                  color: var(--color-gray);
                }
              }
            }
            .icon_box {
              margin-right: 5px;
              .icon {
                font-size: 19px;
                color: var(--color-light-gray) !important;
              }
            }
            &::after {
              content: "";
              position: absolute;
              top: 0;
              left: 310px;
              width: 1px;
              height: 100%;
              background-color: var(--color-border);
            }
          }
          &:hover {
            .main_list {
              background-color: var(--color-light-light-gray);
            }
            .icon_box {
              .icon {
                transition: var(--transition);
                color: var(--color-tab) !important;
              }
            }
            .sub_list {
              display: block;
            }
          }

          .sub_list {
            position: relative;
            top: 0;
            // left: 20%;
            // z-index: 5;
            display: none;
            width: 100% !important;

            a {
              white-space: nowrap;
              &:hover {
                transition: var(--transition);
                color: var(--color-link-hover);
              }
            }
            .sub_category {
              display: grid;
              grid-template-columns: repeat(5, 1fr);
              width: 80%;
              position: fixed;
              top: 0;
              z-index: 5;
              height: 540px;
              gap: 0;
              padding-top: 20px;
              padding-left: 30px;
              text-align: center;
              overflow: hidden !important;
              border-bottom-right-radius: 10px;
              .background_img {
                position: absolute;
                bottom: 0;
                // z-index: 1;
                .img {
                  img {
                    object-fit: contain;
                  }
                }
              }
              .sub_category_list {
                z-index: 8;
                width: fit-content !important;
                a {
                  width: fit-content !important;
                }
                .sub_img {
                  img {
                    width: 100px;
                    border-bottom-right-radius: 10px;
                  }
                }
              }

              /*======= MEDIA QUERIES (MEDIUM DEVICES) =======*/
              @media screen and (max-width: 1290px) {
                grid-template-columns: repeat(3, 1fr);
              }
              /*======= MEDIA QUERIES (MEDIUM DEVICES) =======*/
              @media screen and (max-width: 1100px) {
                grid-template-columns: repeat(2, 1fr);
                padding-left: 60px;
              }
              /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
              @media screen and (max-width: 900px) {
                padding-left: 60px;
              }
            }
          }

          &:hover {
            .sub_list {
              display: block;
            }
          }
        }
      }
    }
  }
}
.category_menu_popover {
  .overlay-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    cursor: pointer;
  }
  /*======= MEDIA QUERIES (MEDIUM DEVICES) =======*/
  @media screen and (max-width: 900px) {
    display: none;
  }
}

.drawers {
  .close_icon {
    cursor: pointer;
  }
  .header {
    border-bottom: 1px solid var(--color-border);
    padding: 8px 10px;
    .icon {
      font-size: 30px;
      color: var(--color-light-gray);
      cursor: pointer;
    }
  }
  .drawer_btn {
    background-color: var(--color-light);
    padding: 15px 10px;
    a {
      height: 35px;
      padding: 0px 15px;
      color: var(--color-white);
      border-radius: 20px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .view {
      background-color: var(--color-black);
    }
    .checkout {
      background-color: var(--color-primary);
      .icon {
        margin-right: 5px;
      }
    }
  }
  .form_group {
    margin-bottom: 30px;
    padding: 0px 10px;
    gap: 20px;
    .input_width {
      width: 100%;
      input {
        border: 1px solid var(--color-border);
        padding: 10px;
        border-radius: 6px;
        width: 100%;
        margin-top: 25px;
        padding-right: 20px;
      }
      .icon {
        float: right;
        position: relative;
        bottom: 29px;
        right: 8px;
      }
    }
    .close_icon {
      font-size: 30px;
      color: var(--color-light-gray);
    }
  }
  .cart {
    .content {
      padding: 10px 15px;
      gap: 10px;
      .img {
        img {
          width: 50px;
        }
      }
      .name_qty {
        line-height: 20px;
        .name {
          a {
            color: var(--color-tab);
            h3 {
              font-weight: 500;
              font-size: 15px;
            }
          }
        }
      }
      .close {
        .icon {
          background-color: var(--color-light-gray);
          color: var(--color-white);
          border-radius: 50%;
          font-size: 20px;
          cursor: pointer;
        }
      }
    }
  }
  .account {
    .content {
      padding: 20px 15px;
      a {
        color: var(--color-tab);
        transition: var(--transition);
        &:hover {
          color: var(--color-link-hover);
        }
        .icon {
          font-size: 15px;
          color: var(--color-tab);
        }
      }
      .track {
        margin-top: 10px;
        small {
          color: var(--color-gray);
        }
        input {
          padding: 8px;
          border: 1px solid #b8bbc0;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          width: 100%;
        }
        button {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          border: 1px solid #b8bbc0;
          padding: 3px 4px;
          cursor: pointer;
        }
      }
    }
  }
  .contact {
    .content {
      .menu-content {
        padding: 16px;
        width: 100%;
      }
    }
  }
}
/* CSS animation for the rotation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg); /* Adjust the rotation degrees for faster spin */
  }
}

/* Apply the animation to the icon */
.rotate-icon {
  animation: spin 0.5s linear, stop-spin 0.5s ease-in-out 1.5s forwards; /* Adjust the timing */
}

/* Keyframes to stop the rotation smoothly */
@keyframes stop-spin {
  0% {
    transform: rotate(
      720deg
    ); /* Should match the final rotation degrees in the spin keyframes */
  }
  100% {
    transform: rotate(
      720deg
    ); /* Should match the final rotation degrees in the spin keyframes */
  }
}
