.datatable {
  padding: 20px;
  box-shadow: var(--light-shadow);
  background-color: var(--color-white);
  border-radius: 10px;
  h3 {
    color: var(--color-gray);
  }
  .datagrid {
    padding: 10px;
    height: 680px;
  }
  .cellWidthImg {
    display: flex;
    align-items: center;

    .cellImg {
      width: 32px;
      height: 32px;
      border-radius: 5px;
      object-fit: cover;
      margin-right: 20px;
    }
  }
  .cellWithAdminSellerStatus {
    .yes {
      color: green;
    }

    .no {
      color: red;
    }
    .pending {
      color: goldenrod;
      background-color: rgba(189, 189, 3, 0.103);
      padding: 5px;
      border-radius: 5px;
    }
  }
  .cellWithStatus {
    padding: 5px;
    border-radius: 5px;

    &.active {
      color: green;
      background-color: rgba(0, 128, 0, 0.151);
    }
    &.pending {
      color: goldenrod;
      background-color: rgba(189, 189, 3, 0.103);
    }
    &.blocked {
      color: red;
      background-color: rgba(255, 0, 0, 0.2);
    }
    &.false {
      color: green;
      background-color: rgba(0, 128, 0, 0.151);
    }

    &.true {
      color: red;
      background-color: rgba(255, 0, 0, 0.2);
    }
  }

  .cellWithPrice {
    color: var(--color-primary);
    font-weight: 600;
  }
  .cellAction {
    display: flex;
    align-items: center;
    gap: 15px;
    a {
      text-decoration: none;
    }
    .blockButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: darkblue !important;
      border: 1px dotted rgba(0, 0, 139, 0.596) !important;
      cursor: pointer;
    }
    .deleteButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: crimson !important;
      border: 1px dotted rgba(220, 20, 60, 0.6) !important;
      cursor: pointer;
    }
    .viewButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: darkgreen !important;
      border: 1px dotted rgba(0, 139, 0, 0.596) !important;
      cursor: pointer;
    }
  }
}
.admin_page_screen {
  .productTitleContainer {
    margin-bottom: 20px;
  }
}
.admin_page_all {
  .order_table {
    margin-bottom: 0;
    padding-bottom: 0;
    .tableEditBtn {
      border: 1px dotted #e94560;
      background: transparent;
      padding: 5px;
      border-radius: 5px;
      margin-right: 5px;
      cursor: pointer;
      color: var(--color-primary);
    }
  }
}
