@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-bg: #f3f5f9;
  --color-border: #e7e8eb;
  --color-background: #f6f9fc;
  --color-light-light-gray: #f6f6f6;
  --color-rating: #ffcd4e;
  --color-plan: #fdba3d;
  --color-primary: #be0318;
  --color-hover: #c72b3d;
  --color-youtube: #ff0000;
  --color-green: #075e54;
  --color-light-green: #128c7e;
  --color-blue: #3462fa;
  --color-link-hover: #07c;
  --color-tab: #389efd;
  --color-text: #0f3460;
  --color-text-dull: #8a95ad;
  --color-dark: #111111;
  --color-black: #2e2e2e;
  --color-white: #ffffff;
  --color-gray: #777777;
  --color-light-gray: #999999;
  --color-light: #eeeeee;
  --color-short: #e1e1e1;
  --color-filter: #e6e6e6;
  --transition: all 400ms ease;
  --box-shadow: 0 0.1rem 2rem rgba(30, 30, 30, 0.1);
  --light-shadow: rgb(3 0 71 / 5%) 0px 1px 3px;
  --border-sty: 1px solid #ebebeb;
  --container-width-lg: 85%;
  --container-width-md: 98%;
  --container-width-sm: 99%;
}
.overflow {
  overflow: hidden !important;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-white);
}
.container {
  width: var(--container-width-lg);
  margin: auto;
}

.contentWidth {
  width: 77%;
}

.mtb {
  margin: 20px 0px;
}
.margin_top {
  margin-top: 40px;
}
.mt {
  margin-top: 20px;
}
.ml {
  margin-left: 20px;
}
.mr {
  margin-right: 20px;
}
.mb {
  margin-bottom: 20px;
}
.light_shadow {
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
  border-radius: 10px;
}
.light_header {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.03) 0 1px 1px, rgba(0, 0, 0, 0.03) 0 3px 3px,
    rgba(0, 0, 0, 0.03) 0 7px 7px;
}

.custom_tooltip {
  background-color: var(--color-bg);
  border: 1px solid var(--color-gray);
}
.tableCellPrice {
  color: var(--color-primary) !important;
  font-weight: 600 !important;
}

.MuiDataGrid-checkboxInput:checked + .MuiDataGrid-checkbox {
  color: red; /* Set the desired color for the checkbox */
}

.box_shadow {
  box-shadow: 0 0.1rem 2rem rgba(30, 30, 30, 0.1);
}
.d_flex {
  display: flex;
  justify-content: space-between;
}
.d_grid {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, 1fr);
}
.j_flex {
  display: flex;
  justify-content: space-around;
}
.c_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f_flex {
  display: flex;
}
.a_flex {
  display: flex;
  align-items: center;
}
.l_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.s_flex {
  display: flex;

  flex-direction: column;
}
.p_flex {
  display: flex;
  justify-content: center;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

a {
  text-decoration: none;
  color: var(--color-black);
}
li {
  list-style: none;
}
.fa-star,
.fa-star-half-alt {
  color: var(--color-primary);
}

.quick_link {
  border-bottom: 1px solid var(--color-border);
  padding: 5px 0px;
  padding-top: 0px;
}
.quick_link a:hover {
  color: var(--color-link-hover);
}
.quick_link p,
a {
  color: var(--color-gray);
  font-size: 14px;
}

.RText {
  text-align-last: right;
}
input {
  font-size: 15px;
}
input::placeholder,
textarea::placeholder {
  color: var(--color-light-gray);
  font-size: 14px;
}
.home_outline input,
button {
  outline: none;
}
input,
button {
  border: none;
  outline: none;
  background-color: none;
}
[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.red {
  color: var(--color-primary);
}

button:disabled {
  opacity: 0.9;
}
.white-fill {
  fill: white;
}
.main_btn {
  background-color: var(--color-primary);
  padding: 8px 10px;
  color: var(--color-white);
  cursor: pointer;
  font-weight: 600;
}
.fa-square-plus {
  color: var(--color-light-green);
  font-size: 35px;
  cursor: pointer;
}
.upload-btn {
  cursor: pointer;
  border: 1px solid var(--color-gray);
  border-radius: 3px;
}

textarea {
  background: transparent;
  border: 2px solid;
  resize: none;
  overflow: hidden;
  padding: 10px;
  font-size: 15px;
  font-family: sans-serif;
  outline: none;
}
#mui-simple-select {
  width: 200px;
  background-color: var(--color-light-light-gray);
  max-height: 10px;
  border-radius: 20px !important;
}

.select_mui {
  border-radius: 20px !important;
}
.color_image_size {
  width: 25px;
}

textarea::placeholder {
  color: var(--color-light-gray);
}
.row {
  width: 50%;
}

.boxShadow {
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
}

/*----- pagination -------*/
.pagination {
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 3px;
}
.pagination .paginationItemStyle.active {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.pagination .paginationItemStyle.active:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.pagination a {
  color: var(--color-black);
  width: 30px;
  height: 30px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 7px;
}
.pagination .text-bold {
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
}
/*----- pagination -------*/

.mtop {
  margin-top: 40px;
}
.top {
  margin-top: 80px;
}

.wish_container .product-content {
  width: 100%;
}
.product_not {
  width: 100%;
  display: flex;
  justify-content: center;
}
.product-not {
  width: max-content;
  text-align: justify;
}

/*---------product-----------*/
.tooltip {
  font-size: 12px;
}
.discounted {
  font-size: 14px;
  color: var(--color-gray);
}

/*---------product-----------*/

/*----- control btn -------*/
.control-btn .next,
.control-btn .prev {
  position: absolute;
  top: 40%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: 0.5s;
  z-index: 5;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.control-btn button {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}
.control-btn .prev {
  left: -20px;
}
.control-btn .next {
  right: -20px;
}
.control-btn .icon {
  font-size: 20px;
}

/*----- control btn -------*/

.eye-icon {
  color: var(--color-gray);
}

.checkout_form .form-group {
  margin-top: -15px;
}
input.input-error,
select.input-error {
  border-color: var(--color-primary);
}

/*----- form container -------*/

.paidAt {
  color: var(--color-tab);
  font-weight: 600;
}
.negate {
  color: var(--color-primary);
}
.with_cash {
  color: var(--color-green);
  font-weight: 600;
  border: 1px dotted var(--color-green);
  padding: 3px;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
}
.unverified_account,
.verified_account,
.pending_account {
  color: var(--color-primary);
  padding: 0px 3px;
  font-weight: 600;
  height: 15px;
  border-radius: 5px;
  font-size: 12px;
  border: 1px dotted var(--color-primary);
}
.verified_account {
  color: var(--color-light-green);
  border: 1px dotted var(--color-light-green);
}
.pending_account {
  color: var(--color-rating);
  border: 1px dotted var(--color-rating);
}

/*----- whatsapp btn -------*/

/*----- Resolutions -------*/
/*======= MEDIA QUERIES (MEDIUM DEVICES) =======*/
@media screen and (max-width: 1300px) {
  .container {
    width: var(--container-width-md);
  }
}

@media screen and (max-width: 320px) {
  .container {
    width: var(--container-width-md);
  }
  .product-content .product .price .a_flex {
    flex-direction: column;
    align-items: flex-start;
  }
}
