.checkout_screen {
  .discount {
    color: var(--color-primary);
  }
  .link {
    color: var(--color-tab);
    cursor: pointer;
    &:hover {
      text-decoration: underline;
      color: var(--color-link-hover);
      transition: var(--transition);
    }
  }
  /*======= MEDIA QUERIES (MEDIUM DEVICES) =======*/
  @media screen and (max-width: 845px) {
    .number {
      display: none;
    }
  }
  .inner_form {
    .inline_input {
      /*======= MEDIA QUERIES (MEDIUM DEVICES) =======*/
      @media screen and (max-width: 530px) {
        flex-wrap: wrap;
      }
    }
  }
  .customer {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    .productTitleContainer {
      margin-bottom: 10px;
    }
    .content {
      gap: 20px;
      .number {
        font-weight: 800;
        font-size: 28px;
        color: var(--color-gray);
        span {
          width: 40px !important;
          height: 40px;
          border-radius: 50%;
          background-color: var(--color-light-light-gray);
        }
      }
      .main_content {
        width: 100%;
        .header {
          margin-bottom: 20px;
          h2 {
            font-weight: 800;
            color: var(--color-gray);
          }
          button {
            background-color: var(--color-black);
            color: var(--color-white);
            padding: 10px 15px;
            border-radius: 20px;
            cursor: pointer;
          }
        }
        .inner_form {
          margin-bottom: 20px;
          .inline_input {
            gap: 10px;
          }
          .check_form {
            margin-bottom: 15px;
            input {
              width: 18px;
              height: 18px;
              border-radius: 5px !important;
              margin-right: 10px;
            }
          }
          .form_group {
            width: 100%;
            margin-bottom: 15px;
            input {
              width: 100%;
              padding: 10px;
              border-radius: 5px;
              border: 1px solid var(--color-light-gray);
            }
            .select_styles {
              width: 100%;
              padding: 10px;
              border-radius: 5px;
              border: 1px solid var(--color-light-gray);
              outline: none;
            }
          }
        }
        .cart_order {
          a {
            color: var(--color-tab);
            transition: var(--transition);
            &:hover {
              color: var(--color-link-hover);
            }
          }
          border-top: 1px solid var(--color-border);
          .head {
            margin-top: 20px;
            background-color: var(--color-light-light-gray);
            padding: 10px 15px;
            border-radius: 10px;
            .edit {
              font-size: 18px;
              small {
                margin-left: 4px;
              }
            }
          }
          .cart_table_list {
            padding: 15px 0px;
            border-bottom: 1px solid var(--color-border);
            .cart_table {
              gap: 20px;
              width: 100%;

              small {
                font-size: 12px;
              }
              .img {
                margin-top: 25px;
                width: 100px;
                aspect-ratio: auto 100 / 100;
                height: 100px;
                background-color: var(--color-white);
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
              .content_value {
                width: 100%;
                .main_ul {
                  gap: 20px;
                  .close_icon {
                    margin-top: 28px;
                    .icon_btn {
                      .icon {
                        background-color: var(--color-light-gray);
                        color: var(--color-white);
                        border-radius: 50%;
                        font-size: 16px;
                        cursor: pointer;
                      }
                    }
                  }
                }

                .name__amount {
                  gap: 25px;
                  .name_code_vendor_icon {
                    margin-top: 25px;
                    .name {
                      a {
                        line-height: 10px;
                      }
                    }
                    .features_box {
                      padding: 10px 0px;
                    }
                  }
                  .qty_price_amount {
                    small {
                      margin-bottom: 10px;
                      color: var(--color-gray);
                    }
                    span,
                    s {
                      font-size: 13px;
                    }
                    li {
                      width: 100px;
                      display: flex;
                      flex-direction: column;
                    }
                  }
                  /*======= MEDIA QUERIES (MEDIUM DEVICES) =======*/
                  @media screen and (max-width: 1140px) {
                    flex-direction: column;
                  }
                }
              }
            }
            /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
            @media screen and (max-width: 470px) {
              padding: 5px 0px;
              .cart_table {
                gap: 0;
                flex-direction: column;
                .content_value {
                  .main_ul {
                    gap: 5px;
                  }
                  .name__amount {
                    gap: 5px;
                  }
                }
              }
            }
            &:last-child {
              border: none;
            }
          }
        }
      }
    }
    /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
    @media screen and (max-width: 845px) {
      margin-top: 10px;
    }
  }
  .delivery {
    .main_content {
      .shipping_methods {
        .header {
          margin: 0;
        }
        .methods {
          .head {
            color: var(--color-gray);
            margin: 10px 0px;
            margin-bottom: 15px;
          }
          .method_box {
            .box {
              border: 2px solid var(--color-link-hover);
              box-shadow: 0 0 10px rgba(37, 33, 250, 0.2);
              border-radius: 10px;
              .box_head {
                border: 1px solid var(--color-link-hover);
                border-radius: 8px 8px 10px 10px;
                padding: 15px;
                background-color: #e4f1ff;
                cursor: pointer;
                small {
                  color: var(--color-light-gray);
                }
                input {
                  width: 25px;
                  height: 25px;
                  cursor: pointer;
                }
                &:hover {
                  h4 {
                    transition: var(--transition);
                    color: var(--color-link-hover);
                  }
                }
              }
              .text {
                padding: 15px;
                p {
                  font-size: 14px;
                  line-height: 28px;
                }
              }
            }
          }
        }
      }
    }
  }
  .payment {
    .main_content {
      .payment_methods {
        .methods {
          width: 350px;
          padding: 6px;
          height: 45px;
          background-color: var(--color-white);
          border: 1px solid var(--color-border);
          border-radius: 5px;
          margin-bottom: 10px;
          cursor: pointer;
          input {
            margin-right: 8px;
          }
          /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
          @media screen and (max-width: 420px) {
            width: 100%;
          }
        }
        .methods.active {
          border: 1px solid var(--color-link-hover);
          box-shadow: 0 0 10px rgba(37, 33, 250, 0.2);
        }
      }
    }
  }
  .customer_notes {
    .content {
      .number {
        span {
          background: transparent;
        }
      }
      .main_content {
        .header {
          h2 {
            color: var(--color-black);
          }
        }
        .text {
          .textarea {
            border: 1px solid var(--color-border);
            width: 100%;
            padding: 10px;
            min-height: 150px;
            resize: vertical;
            border-radius: 10px;
          }
        }
      }
    }
  }
  .summary {
    margin-top: 10px;
    .promo_box {
      background-color: var(--color-light-light-gray);
      padding: 25px 20px;
      border-radius: 8px;

      .inner_form {
        margin-top: 5px;
        .form_group {
          input {
            border: 1px solid var(--color-light-gray);
            padding: 8px;
            width: 100%;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
          }

          button {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border: 1px solid #b8bbc0;
            padding: 9px 20px;
            cursor: pointer;
          }
        }
      }
    }
    .order_summary {
      margin-top: 20px;
      padding: 20px !important;
      background-color: var(--color-light-light-gray);

      .order_status {
        ul {
          padding: 10px 0px;
          li {
            line-height: 30px;
          }
        }
        .total {
          border-top: 1px solid var(--color-border);
          border-bottom: 1px solid var(--color-border);
        }
      }
      .btn {
        margin: 40px 0px;
        button {
          background-color: var(--color-primary);
          color: var(--color-white);
          padding: 15px 20px;
          width: 100%;
          border-radius: 30px;
          font-size: 16px;
          cursor: pointer;
          font-weight: 600;
          .place {
            margin-right: 5px;
          }
        }
      }
      .check {
        display: flex;
        flex-direction: column;
        .main_term {
          margin-bottom: 15px;
        }
        .check_box {
          .link {
            color: var(--color-tab);
            text-decoration: underline;
            text-underline-offset: 1.3px;
            text-decoration-style: dotted;
            text-decoration-thickness: 1px;
            text-decoration-color: var(--color-tab);
            transition: var(--transition);
            font-size: 13px;
            &:hover {
              color: var(--color-link-hover);
            }
          }
          input {
            width: 17px !important;
            height: 17px !important;
            border-radius: 5px !important;
            margin-right: 8px;
          }
          small {
            font-size: 14px;
          }
        }
      }
    }
  }
}
