.customer_location {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  min-height: 550px;
  background-color: #ffffff;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 10px;
  outline: none;
  .map_header {
    padding: 10px 20px !important;
    color: var(--color-white);
    background-color: var(--color-primary) !important;
    h1 {
      font-weight: 800;
      font-size: 18px;
    }
    .map_icon {
      color: var(--color-background);
      font-size: 28px;
      cursor: pointer;
    }
  }
  .map_btn {
    position: absolute;
    bottom: 0;
    padding: 15px 20px !important;
    background-color: var(--color-white);
    width: 100%;
    button {
      background-color: var(--color-primary);
      color: var(--color-white);
      padding: 10px 38px;
      font-size: 16px;
      border-radius: 5px;
      box-shadow: 1px 1px 1px 1px var(--color-light-gray);
      cursor: pointer;
    }
  }
  @media (max-width: 900px) {
    width: 100%;
  }
  @media (max-width: 770px) {
    height: 100%;
  }
}
.customer_call {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: #ffffff;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 10px;
  outline: none;
  .call_header {
    padding: 10px 20px !important;
    color: var(--color-white);
    background-color: var(--color-primary) !important;
    h1 {
      font-weight: 800;
      font-size: 18px;
    }
    .call_icon {
      color: var(--color-background);
      font-size: 28px;
      cursor: pointer;
    }
  }

  .call {
    .error {
      font-size: 14px;
      color: var(--color-primary);
    }

    label {
      font-size: 15px;
      font-weight: 600;
    }
    .call_request {
      padding: 10px 20px;
      .form_group {
        margin-bottom: 20px;
        .input_box {
          border: 1px solid var(--color-light-gray);
          padding: 10px;
          width: 100%;
          border-radius: 5px;
        }
        input.error-border,
        textarea.input-error {
          border: 1px solid var(--color-primary);
        }
      }
      .time {
        margin-bottom: 15px;
        .request_time {
          .time_input {
            border: 1px solid var(--color-light-gray);
            margin-left: 6px;
            padding: 4px;
            border-radius: 6px;
          }

          input.error-border {
            border: 1px solid var(--color-primary);
          }
        }
        .mb {
          margin-bottom: 9px;
        }
      }
    }

    .call_btn {
      padding: 15px 20px !important;
      background-color: var(--color-bg);
      width: 100%;
      flex-wrap: wrap-reverse;
      button {
        background-color: var(--color-primary);
        color: var(--color-white);
        padding: 12px 15px;
        font-size: 15px;
        border-radius: 7px;
        cursor: pointer;
        box-shadow: var(--light-shadow);
      }
    }
  }
  @media (max-width: 500px) {
    width: 100%;
    height: 100%;
    .call {
      .call_btn {
        background: transparent;
        .remember {
          margin-bottom: 10px;
        }
        button {
          width: 100%;
          border-radius: 20px;
        }
      }
    }
  }
}
.modal_login_btn {
  background: transparent;
  color: var(--color-white);
  cursor: pointer;
  &:hover {
    border-bottom: 1px solid var(--color-white);
    padding-bottom: -8px;
  }
}
.login_modal {
  width: 600px;
  .login_form {
    margin-top: 20px;
    .call_request {
      .form_group {
        margin-bottom: 15px;
        label {
          font-weight: 300;
          font-size: 14px;
        }
        a {
          font-size: 13px;
          color: var(--color-tab);
        }
        .eye-icon {
          float: right;
          position: relative;
          bottom: 34px;
          right: 10px;
        }
      }
    }
    .remember {
      input {
        margin-right: 8px;
        width: 18px;
        height: 18px;
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }
  @media (max-width: 600px) {
    width: 100%;
  }
}
.review_rating {
  input {
    font-size: 30px;
  }
}
.review_modal {
  .form_group {
    display: flex;
    flex-direction: column;

    label {
      font-weight: 600 !important;
    }
    textarea {
      border: 1px solid var(--color-light-gray);
      min-height: 100px;
      resize: vertical;
      border-radius: 5px;
    }
  }
}
.shipping_modal {
  width: 400px;
  .shipping {
    .content {
      padding: 20px;
      .rate {
        margin-bottom: 5px;
        float: right;
        .button-text {
          text-transform: none;
          font-size: 15px;
          background: transparent;
          text-decoration: underline;
          text-underline-offset: 1.3px;
          text-decoration-style: dotted;
          text-decoration-thickness: 1px;
          text-decoration-color: var(--color-tab);
          padding: 0;
          margin-left: 5px;
          color: var(--color-tab);
          &:hover {
            color: var(--color-link-hover);
          }
          .icon {
            font-size: 16px;
          }
        }
      }
      .table {
        table {
          border-collapse: collapse;
          width: 100%;
        }
        thead {
          width: 100%;
          th {
            text-align: left;
            font-size: 13px;
          }
        }
        th,
        td {
          padding: 5px;
          font-size: 15px;
        }
        th {
          border-bottom: 1px solid var(--color-border);
        }
        tbody {
          td {
            font-size: 13px;
          }
        }
      }
    }
    .shipping_btn {
      position: relative;
      bottom: 0;
      padding: 15px 20px !important;
      background-color: var(--color-light-light-gray);
      width: 100%;
      button {
        background-color: var(--color-primary);
        color: var(--color-white);
        padding: 10px 28px;
        font-size: 16px;
        border-radius: 5px;
        box-shadow: 1px 1px 1px 1px var(--color-light-gray);
        cursor: pointer;
      }
    }
  }
  @media (max-width: 400px) {
    width: 100%;
    .shipping {
      .shipping_btn {
        background: transparent;
        button {
          width: 100%;
        }
      }
    }
  }
}
.cart_discount_modal {
  .content {
    .table {
      table {
        td,
        th {
          border: 1px solid var(--color-border);
          padding: 10px !important;
        }
        .qty {
          text-align: center;
        }
      }
    }
  }
}
.calculate_shipping_modal {
  .over_flow {
    overflow-y: scroll;
  }
  .inner_form,
  .details {
    padding: 10px 20px;
    padding-top: 20px;
  }
  .inner_form {
    .form-group {
      gap: 40px;
      margin-bottom: 15px;
      label {
        font-weight: 300;
        font-size: 14px;
      }
      input {
        border: 1px solid var(--color-light-gray);
        padding: 8px;
        width: 310px;
        border-radius: 5px;
      }
      .select_styles {
        width: 310px;
        padding: 8px;
        border-radius: 5px;
      }
      @media (max-width: 500px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        input,
        .select_styles {
          width: 100%;
        }
      }
    }
  }
  .details {
    .header {
      h3 {
        color: var(--color-light-gray);
        font-size: 16px;
      }
      h4 {
        font-size: 15px;
      }
    }
    .list {
      margin-top: 5px;
      li {
        font-size: 14px;
      }
    }
    .shipping_method {
      margin: 5px 0px;
      .custom {
        input {
          margin-right: 5px;
        }
        p {
          font-weight: 400;
          font-size: 14px;
          color: var(--color-black);
        }
      }
      .total {
        margin-top: 5px;
        h5 {
          margin-right: 5px;
        }
      }
    }
  }
}
