.promotion_edit {
  .product_info_box {
    display: flex !important;
    flex-direction: column;
    .color_list {
      font-size: 14px;
      .img_link {
        overflow: hidden !important;
      }
      .expiring {
        strong {
          text-wrap: nowrap;
        }
        .full_width {
          .date_time {
            margin-left: 5px;
          }
        }
      }
      .label {
        width: fit-content;
        cursor: pointer;
      }
    }
    button {
      padding: 10px 20px;
      margin-top: 10px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      color: var(--color-white);
    }
    button[type="submit"] {
      background-color: var(--color-blue);
    }

    button[type="button"] {
      background-color: var(--color-youtube);
    }
  }
}
